In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head(2)

  user_sequence  user_id  challenge_sequence challenge
0        4576_1     4576                   1   CI23714
1        4576_2     4576                   2   CI23855

In [4]:
df_train = train.pivot_table(values='challenge',index='user_id', columns='challenge_sequence', aggfunc=(lambda x:x)).reset_index()

In [5]:
df_train.head(2)

challenge_sequence,user_id,1,2,3,4,5,6,7,8,9,10,11,12,13
0,4576,CI23714,CI23855,CI24917,CI23663,CI23933,CI25135,CI23975,CI25126,CI24915,CI24957,CI24958,CI23667,CI23691
1,4580,CI23663,CI23855,CI23933,CI23975,CI24530,CI23714,CI23648,CI23781,CI23667,CI25135,CI24915,CI25727,CI26051

In [6]:
test.head(2)

  user_sequence  user_id  challenge_sequence challenge
0        4577_1     4577                   1   CI23855
1        4577_2     4577                   2   CI23933

In [7]:
df_test = test.pivot_table(index='user_id',columns='challenge_sequence', values='challenge', aggfunc=lambda x:x).reset_index()

In [8]:
test.head(2)

  user_sequence  user_id  challenge_sequence challenge
0        4577_1     4577                   1   CI23855
1        4577_2     4577                   2   CI23933

In [9]:
df_train.drop(['user_id'], inplace=True, axis=1)

In [10]:
df_train.head(2)

challenge_sequence,1,2,3,4,5,6,7,8,9,10,11,12,13
0,CI23714,CI23855,CI24917,CI23663,CI23933,CI25135,CI23975,CI25126,CI24915,CI24957,CI24958,CI23667,CI23691
1,CI23663,CI23855,CI23933,CI23975,CI24530,CI23714,CI23648,CI23781,CI23667,CI25135,CI24915,CI25727,CI26051

In [11]:
df_train.to_csv('df_train.csv',index=False)

In [12]:
df_test.head(2)

challenge_sequence,user_id,1,2,3,4,5,6,7,8,9,10
0,4577,CI23855,CI23933,CI24917,CI24915,CI23714,CI23663,CI24958,CI25135,CI25727,CI24530
1,4578,CI23663,CI23855,CI24917,CI23933,CI23975,CI23714,CI25135,CI24915,CI24958,CI23781

In [13]:
test_ids = df_test['user_id']

In [14]:
test_ids

0          4577
1          4578
2          4579
3          4583
4          4584
          ...
39727    113829
39728    113830
39729    113831
39730    113834
39731    113838
Name: user_id, Length: 39732, dtype: int64

In [15]:
df_test.drop(['user_id'], inplace=True, axis=1)

In [16]:
df_test.head(2)

challenge_sequence,1,2,3,4,5,6,7,8,9,10
0,CI23855,CI23933,CI24917,CI24915,CI23714,CI23663,CI24958,CI25135,CI25727,CI24530
1,CI23663,CI23855,CI24917,CI23933,CI23975,CI23714,CI25135,CI24915,CI24958,CI23781

In [17]:
df_test.to_csv('df_test.csv', index=False)

In [18]:
from CPT import *

In [19]:
model = CPT()

In [20]:
data, target = model.load_files('df_train.csv','df_test.csv')

In [21]:
model.train(data)

True

In [22]:
prediction=[]
for i in range(1,11):
    prediction.append(model.predict(data,target,i,3))
print(prediction)

100%|█████████████████████████████████████████████████████| 39732/39732 [42:01<00:00, 15.76it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [13:44<00:00, 48.19it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [10:26<00:00, 63.37it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:44<00:00, 67.94it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:22<00:00, 70.58it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:38<00:00, 68.71it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [10:13<00:00, 64.71it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:32<00:00, 69.36it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:10<00:00, 72.19it/s]
100%|█████████████████████████████████████████████████████| 39732/39732 [09:08<00:00, 72.44it/s]
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [23]:
#saving the mapping to a dictionary
import pickle
pickle_path = "./predict_mapping.pkl"
pickle_mapping = open(pickle_path,"wb")
pickle.dump(prediction, pickle_mapping)
pickle_mapping.close()

In [33]:
prediction[0]

[['CI24534', 'CI23691', 'CI24958'],
 ['CI23933', 'CI24530', 'CI23691'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI23648', 'CI23933', 'CI23691'],
 ['CI24527', 'CI25135', 'CI24187'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI26167', 'CI26168', 'CI26170'],
 ['CI23691', 'CI24534', 'CI24958'],
 ['CI26168', 'CI26170', 'CI26174'],
 ['CI26167', 'CI26168', 'CI26170'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI26168', 'CI26170', 'CI26174'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI24534', 'CI24876', 'CI25075'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI26941', 'CI26942', 'CI26958'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI26955', 'CI26954', 'CI26958'],
 ['CI23648', 'CI23933', 'CI23691'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26174', 'CI26170', 'CI26169'],
 ['CI26174', 'CI26170', 'CI26169'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI28583', 'CI28581', 'CI28585'],
 ['CI24968', 'CI24915', 'CI24876'],
 ['CI25126', 'CI23933', 'CI23663'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI26171', 'CI26174', 'CI26173'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI26210', 'CI26221', 'CI26174'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI23663', 'CI23933', 'CI23714'],
 ['CI26162', 'CI26164', 'CI26167'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI28586', 'CI28585', 'CI28582'],
 ['CI26173', 'CI26174', 'CI26211'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI26174', 'CI26170', 'CI26169'],
 ['CI26051', 'CI23663', 'CI23933'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI26173', 'CI26174', 'CI26211'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI27665', 'CI27663', 'CI27664'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26171', 'CI26174', 'CI26173'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26171', 'CI26174', 'CI26173'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI24968', 'CI24958', 'CI24876'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI24527', 'CI25135', 'CI24187'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI26952', 'CI26954', 'CI26953'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26171', 'CI26174', 'CI26173'],
 ['CI23663', 'CI25126', 'CI25124'],
 ['CI26954', 'CI26953', 'CI26955'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI24530', 'CI24534', 'CI24533'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI26953', 'CI26954', 'CI26955'],
 ['CI28569', 'CI28572', 'CI28578'],
 ['CI26954', 'CI26953', 'CI26955'],
 ['CI23702', 'CI23648', 'CI25141'],
 ['CI26173', 'CI26174', 'CI26211'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI28583', 'CI28581', 'CI28578'],
 ['CI25126', 'CI25135', 'CI25125'],
 ['CI26956', 'CI26957', 'CI26958'],
 ['CI23855', 'CI23697', 'CI25142'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26954', 'CI26949', 'CI26950'],
 ['CI26953', 'CI26954', 'CI26955'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI28583', 'CI28581', 'CI28585'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI26954', 'CI26949', 'CI26953'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI28585', 'CI28586', 'CI28583'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26953', 'CI26954', 'CI26955'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26210', 'CI26221', 'CI26174'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26943', 'CI26942', 'CI26949'],
 ['CI23855', 'CI23697', 'CI25142'],
 ['CI28569', 'CI28572', 'CI28578'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26953', 'CI26954', 'CI26949'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26943', 'CI26953', 'CI26954'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI26955', 'CI26954', 'CI26958'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI25126', 'CI23933', 'CI23663'],
 ['CI24690', 'CI24875', 'CI23769'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI26925', 'CI26918', 'CI26917'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26956', 'CI26957', 'CI26958'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI25055', 'CI24532', 'CI23691'],
 ['CI24527', 'CI25135', 'CI24187'],
 ['CI23848', 'CI23769', 'CI25135'],
 ['CI24968', 'CI24958', 'CI24876'],
 ['CI26210', 'CI26221', 'CI26174'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI24228', 'CI23702', 'CI24532'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI26954', 'CI26953', 'CI26955'],
 ['CI28582', 'CI28581', 'CI28585'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26221', 'CI26165', 'CI26166'],
 ['CI25075', 'CI24534', 'CI25141'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI25075', 'CI24532', 'CI25074'],
 ['CI28585', 'CI28586', 'CI28583'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23769', 'CI25150', 'CI23855'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI26955', 'CI26954', 'CI26958'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26954', 'CI26953', 'CI26949'],
 ['CI26956', 'CI26957', 'CI26958'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI27794', 'CI27790', 'CI27792'],
 ['CI23691', 'CI24530', 'CI24876'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI25733', 'CI25297', 'CI25135'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26217', 'CI26216', 'CI26219'],
 ['CI27663', 'CI27664', 'CI27668'],
 ['CI28586', 'CI28583', 'CI28582'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI26217', 'CI26216', 'CI26219'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI23663', 'CI25126', 'CI25124'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI23913', 'CI25126', 'CI25135'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI24968', 'CI24915', 'CI24876'],
 ['CI28583', 'CI28581', 'CI28585'],
 ['CI26915', 'CI26925', 'CI26914'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI27038', 'CI27033', 'CI27031'],
 ['CI23663', 'CI25126', 'CI25124'],
 ['CI28583', 'CI28582', 'CI28586'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI27038', 'CI27033', 'CI27031'],
 ['CI24958', 'CI24957', 'CI24876'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI23769', 'CI24868', 'CI24968'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI24968', 'CI24915', 'CI24876'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI25135', 'CI25126', 'CI25141'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI26217', 'CI26216', 'CI26219'],
 ['CI24527', 'CI25135', 'CI24187'],
 ['CI24936', 'CI25053', 'CI24935'],
 ['CI24530', 'CI24534', 'CI24533'],
 ['CI26213', 'CI26210', 'CI26211'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI27674', 'CI27673', 'CI27662'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI26915', 'CI26916', 'CI26925'],
 ['CI25074', 'CI24521', 'CI24436'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI28122', 'CI28121', 'CI28124'],
 ['CI26943', 'CI26942', 'CI26941'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI26208', 'CI26209', 'CI26210'],
 ['CI24228', 'CI23702', 'CI24532'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI24228', 'CI24531', 'CI24958'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI28583', 'CI28582', 'CI28586'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI26954', 'CI26953', 'CI26949'],
 ['CI26915', 'CI26916', 'CI26925'],
 ['CI26959', 'CI26960', 'CI26958'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI28581', 'CI28583', 'CI28586'],
 ['CI28570', 'CI28578', 'CI28572'],
 ['CI27663', 'CI27664', 'CI27668'],
 ['CI24930', 'CI24932', 'CI24928'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI23848', 'CI23769', 'CI25135'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23770', 'CI24081', 'CI25295'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI23848', 'CI23769', 'CI25135'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI26211', 'CI26210', 'CI26208'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI23769', 'CI23848', 'CI23770'],
 ['CI28578', 'CI28572', 'CI28574'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI25075', 'CI24534', 'CI24868'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI27665', 'CI27663', 'CI27664'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI26221', 'CI26220', 'CI26219'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI27038', 'CI27031', 'CI27033'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI28583', 'CI28582', 'CI28586'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI25075', 'CI23546', 'CI24534'],
 ['CI26925', 'CI26918', 'CI26917'],
 ['CI24958', 'CI24957', 'CI24876'],
 ['CI26221', 'CI26220', 'CI26902'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26217', 'CI26218', 'CI26219'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI23691', 'CI23663', 'CI24530'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26213', 'CI26210', 'CI26211'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI26943', 'CI26953', 'CI26954'],
 ['CI24958', 'CI23933', 'CI23855'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26213', 'CI26210', 'CI26211'],
 ['CI28581', 'CI28578', 'CI28574'],
 ['CI24954', 'CI24962', 'CI24944'],
 ['CI26954', 'CI26949', 'CI26953'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI27664', 'CI27668', 'CI27669'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI26954', 'CI26949', 'CI26950'],
 ['CI27038', 'CI27036', 'CI27034'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26954', 'CI26953', 'CI26955'],
 ['CI27038', 'CI27036', 'CI27034'],
 ['CI24968', 'CI24915', 'CI24876'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI26959', 'CI26960', 'CI26958'],
 ['CI26922', 'CI26925', 'CI26921'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI26213', 'CI26210', 'CI26211'],
 ['CI28586', 'CI28585', 'CI28582'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI24937', 'CI25053', 'CI24930'],
 ['CI26955', 'CI26954', 'CI26958'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI23702', 'CI23648', 'CI25141'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26156', 'CI26157', 'CI26158'],
 ['CI26915', 'CI26916', 'CI26925'],
 ['CI24875', 'CI25075', 'CI24532'],
 ['CI26165', 'CI26166', 'CI26167'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26211', 'CI26210', 'CI26209'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI28581', 'CI28586', 'CI28583'],
 ['CI28574', 'CI28572', 'CI28578'],
 ['CI25135', 'CI25124', 'CI24958'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI27038', 'CI27033', 'CI27031'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26959', 'CI26960', 'CI26958'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI24534', 'CI23691', 'CI24958'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI24954', 'CI24962', 'CI24944'],
 ['CI26217', 'CI26218', 'CI26219'],
 ['CI24534', 'CI25075', 'CI24958'],
 ['CI24968', 'CI24958', 'CI24876'],
 ['CI23663', 'CI23933', 'CI23714'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26165', 'CI26166', 'CI26167'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI28583', 'CI28582', 'CI28586'],
 ['CI24968', 'CI24958', 'CI24876'],
 ['CI26954', 'CI26949', 'CI26953'],
 ['CI26922', 'CI26923', 'CI26925'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI24228', 'CI23702', 'CI24532'],
 ['CI26954', 'CI26953', 'CI26955'],
 ['CI24968', 'CI24915', 'CI24876'],
 ['CI26216', 'CI26214', 'CI26217'],
 ['CI25135', 'CI24440', 'CI25123'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI26915', 'CI26916', 'CI26925'],
 ['CI25126', 'CI23933', 'CI23663'],
 ['CI24670', 'CI25634', 'CI24672'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26954', 'CI26949', 'CI26950'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI25126', 'CI23933', 'CI23663'],
 ['CI23663', 'CI23933', 'CI23714'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI24958', 'CI23663', 'CI24527'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI23663', 'CI23933', 'CI23714'],
 ['CI26220', 'CI26221', 'CI26902'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI23663', 'CI25126', 'CI25124'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26056', 'CI24917', 'CI25135'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI23855', 'CI24187', 'CI23663'],
 ['CI25075', 'CI24876', 'CI24958'],
 ['CI25053', 'CI24937', 'CI24928'],
 ['CI24958', 'CI23836', 'CI25126'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI27038', 'CI27032', 'CI27033'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI25075', 'CI24532', 'CI25074'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI25135', 'CI25124', 'CI24958'],
 ['CI26902', 'CI26220', 'CI26903'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI24868', 'CI24187', 'CI23691'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI26221', 'CI26220', 'CI26902'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI23663', 'CI25126', 'CI25124'],
 ['CI28583', 'CI28585', 'CI28581'],
 ['CI25149', 'CI25135', 'CI25140'],
 ['CI24927', 'CI25053', 'CI25052'],
 ['CI28578', 'CI28574', 'CI28573'],
 ['CI25053', 'CI24936', 'CI24941'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI24534', 'CI24876', 'CI25075'],
 ['CI26918', 'CI26925', 'CI26923'],
 ['CI26955', 'CI26956', 'CI26958'],
 ['CI24876', 'CI24866', 'CI24530'],
 ['CI26925', 'CI26918', 'CI26917'],
 ['CI26902', 'CI26221', 'CI26903'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI24958', 'CI24187', 'CI25075'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26219', 'CI26218', 'CI26220'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI24876', 'CI25075', 'CI23691'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI23691', 'CI24527', 'CI24917'],
 ['CI25126', 'CI23933', 'CI23663'],
 ['CI23848', 'CI23769', 'CI25135'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI27035', 'CI27043', 'CI27038'],
 ['CI27038', 'CI27032', 'CI27033'],
 ['CI27038', 'CI27031', 'CI27033'],
 ['CI26217', 'CI26216', 'CI26219'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26961', 'CI26959', 'CI26939'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26217', 'CI26216', 'CI26219'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26191', 'CI26192', 'CI26189'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI26164', 'CI26167', 'CI26213'],
 ['CI26058', 'CI25143', 'CI23855'],
 ['CI23933', 'CI23714', 'CI23855'],
 ['CI23924', 'CI23909', 'CI23825'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI27668', 'CI27665', 'CI27670'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI23769', 'CI24868', 'CI24968'],
 ['CI28583', 'CI28582', 'CI28586'],
 ['CI24958', 'CI24187', 'CI25075'],
 ['CI23855', 'CI23697', 'CI25142'],
 ['CI26051', 'CI23663', 'CI23933'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI26217', 'CI26218', 'CI26219'],
 ['CI28569', 'CI28568', 'CI28586'],
 ['CI26902', 'CI26221', 'CI26903'],
 ['CI25135', 'CI25124', 'CI24958'],
 ['CI26961', 'CI26960', 'CI26939'],
 ['CI25075', 'CI24532', 'CI25074'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26216', 'CI26214', 'CI26217'],
 ['CI26211', 'CI26213', 'CI26216'],
 ['CI26208', 'CI26209', 'CI26210'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI26959', 'CI26960', 'CI26961'],
 ['CI26216', 'CI26214', 'CI26217'],
 ['CI23848', 'CI25126', 'CI24958'],
 ['CI24940', 'CI25053', 'CI24927'],
 ['CI23714', 'CI24530', 'CI23663'],
 ['CI23913', 'CI25126', 'CI25135'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI23769', 'CI25056', 'CI24956'],
 ['CI25053', 'CI24937', 'CI24928'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI23770', 'CI24081', 'CI25295'],
 ['CI28585', 'CI28584', 'CI28586'],
 ['CI23691', 'CI24534', 'CI24958'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI27664', 'CI27668', 'CI27669'],
 ['CI26213', 'CI26214', 'CI26216'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI27663', 'CI27664', 'CI27668'],
 ['CI27663', 'CI27664', 'CI27668'],
 ['CI26216', 'CI26214', 'CI26217'],
 ['CI23855', 'CI24867', 'CI24958'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI25075', 'CI24532', 'CI25074'],
 ['CI24954', 'CI23691', 'CI24953'],
 ['CI24534', 'CI24530', 'CI24876'],
 ['CI24534', 'CI24876', 'CI25075'],
 ['CI26918', 'CI26925', 'CI26923'],
 ['CI23691', 'CI24228', 'CI23714'],
 ['CI26209', 'CI26210', 'CI26211'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI24534', 'CI24876', 'CI25075'],
 ['CI26954', 'CI26949', 'CI26953'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI25135', 'CI23848', 'CI23714'],
 ['CI24534', 'CI24876', 'CI25075'],
 ['CI25135', 'CI23663', 'CI24138'],
 ['CI26221', 'CI26220', 'CI26902'],
 ['CI23769', 'CI24876', 'CI24534'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI26214', 'CI26216', 'CI26217'],
 ['CI23812', 'CI23975', 'CI27644'],
 ['CI27663', 'CI27664', 'CI27668'],
 ['CI24936', 'CI25053', 'CI24935'],
 ['CI26939', 'CI26954', 'CI26955'],
 ['CI26210', 'CI26209', 'CI26211'],
 ['CI24876', 'CI24866', 'CI24530'],

In [34]:
prediction1 = pd.DataFrame(prediction[0])
prediction2 = pd.DataFrame(prediction[1])
prediction3 = pd.DataFrame(prediction[2])
prediction4 = pd.DataFrame(prediction[3])
prediction5 = pd.DataFrame(prediction[4])
prediction6 = pd.DataFrame(prediction[5])
prediction7 = pd.DataFrame(prediction[6])
prediction8 = pd.DataFrame(prediction[7])
prediction9 = pd.DataFrame(prediction[8])
prediction10 = pd.DataFrame(prediction[9])

In [35]:
prediction1['user_id'] = test_ids
prediction2['user_id'] = test_ids
prediction3['user_id'] = test_ids
prediction4['user_id'] = test_ids
prediction5['user_id'] = test_ids
prediction6['user_id'] = test_ids
prediction7['user_id'] = test_ids
prediction8['user_id'] = test_ids
prediction9['user_id'] = test_ids
prediction10['user_id'] = test_ids

In [37]:
prediction2.head(5)

         0        1        2  user_id
0  CI25135  CI23663  CI23714     4577
1  CI24915  CI24138  CI23714     4578
2  CI26955  CI26953  CI26958     4579
3  CI23648  CI23691  CI24534     4583
4  CI25135  CI25142  CI23855     4584

In [38]:
prediction1_final = pd.melt(prediction1,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction2_final = pd.melt(prediction2,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction3_final = pd.melt(prediction3,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction4_final = pd.melt(prediction4,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction5_final = pd.melt(prediction5,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction6_final = pd.melt(prediction6,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction7_final = pd.melt(prediction7,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction8_final = pd.melt(prediction8,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction9_final = pd.melt(prediction9,id_vars="user_id",var_name="sequence", value_name="challenge" )
prediction10_final = pd.melt(prediction10,id_vars="user_id",var_name="sequence", value_name="challenge" )

In [39]:
prediction3_final.head(5)

   user_id sequence challenge
0     4577        0   CI23663
1     4578        0   CI24957
2     4579        0   CI26953
3     4583        0   CI23648
4     4584        0   CI25124

In [40]:
prediction1_final['sequence'] = prediction1_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction2_final['sequence'] = prediction2_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction3_final['sequence'] = prediction3_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction4_final['sequence'] = prediction4_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction5_final['sequence'] = prediction5_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction6_final['sequence'] = prediction6_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction7_final['sequence'] = prediction7_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction8_final['sequence'] = prediction8_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction9_final['sequence'] = prediction9_final['sequence'].map({0:'11',1:'12',2:'13'})
prediction10_final['sequence'] = prediction10_final['sequence'].map({0:'11',1:'12',2:'13'})

In [41]:
prediction4_final.head(5)

   user_id sequence challenge
0     4577       11   CI23880
1     4578       11   CI25125
2     4579       11   CI26953
3     4583       11   CI24532
4     4584       11   CI25022

In [42]:
prediction1_final['user_sequence'] = prediction1_final['user_id'].map(str)+"_"+prediction1_final['sequence'].map(str)
prediction2_final['user_sequence'] = prediction2_final['user_id'].map(str)+"_"+prediction2_final['sequence'].map(str)
prediction3_final['user_sequence'] = prediction3_final['user_id'].map(str)+"_"+prediction3_final['sequence'].map(str)
prediction4_final['user_sequence'] = prediction4_final['user_id'].map(str)+"_"+prediction4_final['sequence'].map(str)
prediction5_final['user_sequence'] = prediction5_final['user_id'].map(str)+"_"+prediction5_final['sequence'].map(str)
prediction6_final['user_sequence'] = prediction6_final['user_id'].map(str)+"_"+prediction6_final['sequence'].map(str)
prediction7_final['user_sequence'] = prediction7_final['user_id'].map(str)+"_"+prediction7_final['sequence'].map(str)
prediction8_final['user_sequence'] = prediction8_final['user_id'].map(str)+"_"+prediction8_final['sequence'].map(str)
prediction9_final['user_sequence'] = prediction9_final['user_id'].map(str)+"_"+prediction9_final['sequence'].map(str)
prediction10_final['user_sequence'] = prediction10_final['user_id'].map(str)+"_"+prediction10_final['sequence'].map(str)

In [43]:
prediction1_final.head(5)

   user_id sequence challenge user_sequence
0     4577       11   CI24534       4577_11
1     4578       11   CI23933       4578_11
2     4579       11   CI26955       4579_11
3     4583       11   CI23648       4583_11
4     4584       11   CI24527       4584_11

In [45]:
submission1 = prediction1_final.sort_values(['user_id'])
submission2 = prediction2_final.sort_values(['user_id'])
submission3 = prediction3_final.sort_values(['user_id'])
submission4 = prediction4_final.sort_values(['user_id'])
submission5 = prediction5_final.sort_values(['user_id'])
submission6 = prediction6_final.sort_values(['user_id'])
submission7 = prediction7_final.sort_values(['user_id'])
submission8 = prediction8_final.sort_values(['user_id'])
submission9 = prediction9_final.sort_values(['user_id'])
submission10 = prediction10_final.sort_values(['user_id'])

In [46]:
submission4.head(5)

       user_id sequence challenge user_sequence
0         4577       11   CI23880       4577_11
79464     4577       13   CI26050       4577_13
39732     4577       12   CI23663       4577_12
1         4578       11   CI25125       4578_11
79465     4578       13   CI25141       4578_13

In [48]:
submission1['challenge'].fillna(submission1['challenge'].mode()[0], inplace=True)
submission2['challenge'].fillna(submission2['challenge'].mode()[0], inplace=True)
submission3['challenge'].fillna(submission3['challenge'].mode()[0], inplace=True)
submission4['challenge'].fillna(submission4['challenge'].mode()[0], inplace=True)
submission5['challenge'].fillna(submission5['challenge'].mode()[0], inplace=True)
submission6['challenge'].fillna(submission6['challenge'].mode()[0], inplace=True)
submission7['challenge'].fillna(submission7['challenge'].mode()[0], inplace=True)
submission8['challenge'].fillna(submission8['challenge'].mode()[0], inplace=True)
submission9['challenge'].fillna(submission9['challenge'].mode()[0], inplace=True)
submission10['challenge'].fillna(submission10['challenge'].mode()[0], inplace=True)

In [49]:
submission1[['user_sequence','challenge']].to_csv("submission1.csv",index=False)
submission2[['user_sequence','challenge']].to_csv("submission2.csv",index=False)
submission3[['user_sequence','challenge']].to_csv("submission3.csv",index=False)
submission4[['user_sequence','challenge']].to_csv("submission4.csv",index=False)
submission5[['user_sequence','challenge']].to_csv("submission5.csv",index=False)
submission6[['user_sequence','challenge']].to_csv("submission6.csv",index=False)
submission7[['user_sequence','challenge']].to_csv("submission7.csv",index=False)
submission8[['user_sequence','challenge']].to_csv("submission8.csv",index=False)
submission9[['user_sequence','challenge']].to_csv("submission9.csv",index=False)
submission10[['user_sequence','challenge']].to_csv("submission10.csv",index=False)